[submodule "ref/Common"]
	path = ref/Common
	url = https://github.com/BeyondDimension/Common.git
[submodule "ref/ValveKeyValue"]
	path = ref/ValveKeyValue
	url = https://github.com/BeyondDimension/ValveKeyValue.git
